<link rel="stylesheet" href="bower_components/angular-loading/angular-loading.css"/>

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a ui-sref="main" href="">Home</a></li>
            <li ng-repeat="b in breadcrumb.items | reverse">
                <a href="/" ng-if="!$last">{{b.name}}</a>
                <span ng-if="$last">{{b.name}}</span>
            </li>
        </ul>

        

    </div>
    <div class="col-md-12">
      <div class="col-md-12">
        <ng-fader></ng-fader>
      </div>
      <div class="col-md-0">
      </div>
       
    </div>

   

    

            <div>





            	<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<center>Featured Products</center></h4>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                <div class="btn-group">
                <a class="left glyphicon glyphicon-chevron-left btn btn-danger" href="#carousel-example"
                        data-slide="prev"></a>

                 <a class="right glyphicon glyphicon-chevron-right btn btn-danger" href="#carousel-example" data-slide="next"></a>
                </div>
                    
                </div>
            </div>
        </div>
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-3" data-ng-repeat="product in products.items|limitTo:4">
                            <div class="col-item" ng-click="productDetail({id:product._id, slug:product.slug})">
                                <div class="photo" style="height:130px">

                                	<p style="text-align:center"> 
                            			 <img ng-src="/assets/products/{{product.variants[0].image}}"
                                        err-src="/assets/images/photo.png"   margin-left="10px" style="position:relative;height:150px;width:100px">
                                	</p>
                                   
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                {{product.name}}</h5>
                                            <h5 >
                                            {{product.variants[0].price|currency}}
                                                </h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i   style="color:red"class=" fa fa-star"></i><i  style="color:red"class=" fa fa-star">
                                            </i><i  style="color:red" class=" fa fa-star"></i><i  style="color:red" class="fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="buttons">
                                      <div class="btn-group">


                                      <a ng-click="wishlist.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, quantity:1, image:product.variants[0].image,category:product.category, size:product.variants[0].size, weight:product.variants[0].weight} ,true);" ng-show="checkWishlist(product._id)" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span>  Wishlist</a>

                                      

                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, weight:product.variants[0].weight}, -1)" ng-hide="checkCart(product._id)" class="btn btn-info">-</a>

                                      <a ng-hide="checkCart(product._id)" class="btn btn-info">{{getQuantity(product._id);}}</a>

                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, weight:product.variants[0].weight}, +1)" ng-hide="checkCart(product._id)" class="btn btn-info">+</a>
                                      </div>
                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, quantity:1, image:product.variants[0].image,category:product.category, size:product.variants[0].size, weight:product.variants[0].weight} ,true);" ng-show="checkCart(product._id)" class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="item">
                   <div class="row">
                        <div class="col-sm-3" data-ng-repeat="product in products.items|limitTo:4">
                            <div class="col-item" ng-click="productDetail({id:product._id, slug:product.slug})">
                                <div class="photo" style="height:130px">

                                	<p style="text-align:center"> 
                            			 <img ng-src="/assets/products/{{product.variants[0].image}}"
                                        err-src="/assets/images/photo.png"   margin-left="10px" style="position:relative;height:150px;width:100px">
                                	</p>
                                   
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                {{product.name}}</h5>
                                            <h5>
                                            {{product.variants[0].price|currency}}
                                                </h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i   style="color:red"class=" fa fa-star"></i><i  style="color:red"class=" fa fa-star">
                                            </i><i  style="color:red" class=" fa fa-star"></i><i  style="color:red" class="fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="buttons">
                                      <div class="btn-group">


                                      <a ng-click="wishlist.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, quantity:1, image:product.variants[0].image,category:product.category, size:product.variants[0].size, weight:product.variants[0].weight} ,true);" ng-show="checkWishlist(product._id)" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span>  Wishlist</a>

                                      

                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, weight:product.variants[0].weight}, -1)" ng-hide="checkCart(product._id)" class="btn btn-info">-</a>

                                      <a ng-hide="checkCart(product._id)" class="btn btn-info">{{getQuantity(product._id);}}</a>

                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, weight:product.variants[0].weight}, +1)" ng-hide="checkCart(product._id)" class="btn btn-info">+</a>
                                      </div>
                                      <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, quantity:1, image:product.variants[0].image,category:product.category, size:product.variants[0].size, weight:product.variants[0].weight} ,true);" ng-show="checkCart(product._id)" class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
</div>



            <!--endstuff-->
             <div class="row">
             <h3 style="text-align:center">Categories</h3>
                 <div data-ng-repeat="option in Types" class="col-md-3">
                    <div>
                        <a href="/Category/{{option.slug}}/{{option._id}}">
                            <img ng-src="/assets/categories/{{option.name}}.png"
                                err-src="/assets/images/photo.png">
                        </a>

                                <div class="text text-center">
                                    <a href="/Category/{{option.slug}}/{{option._id}}">{{option.name}}</a>
                                   
                                   
                                </div>

                    </div>
                 </div>
             </div>
             </div>

                <div class="col-md-12">

              
                   
                <div infinite-scroll='scroll()' infinite-scroll-disabled='products.busy' infinite-scroll-distance='1'>
                    <div class="row products" dw-loading="products" dw-loading-options="{text: ''}">
                      <div class="box" ng-if="products.items.length==0 && !products.busy">
                          <div class="row">
                              <div class="col-sm-12">
                                <h3>No product found. Try removing some filters.</h3>
                              </div>
                          </div>
                      </div>
                     
                    </div>
                    <!-- /.products -->

                </div>
                <!-- /.col-md-9 -->
              



<div class="col-md-12 text-center"><h3>Featured Brands<br></h3></div>
<div class="col-md-10 col-md-offset-1">
<div class="carouse2 slide" data-ride="carouse2" data-type="multi" data-interval="3000" id="myCarouse2">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="/assets/featured/lobels.png"  class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="/assets/featured/cairns.png"  class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="/assets/featured/johnniewalker.png"  class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="/assets/featured/lobels.png" class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="/assets/featured/colcom.png" class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="/assets/featured/nestle.png" class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="/assets/featured/delta.png" class="img-responsive"></a></div>
    </div>
    
  </div>
  </div>
</div>

         </div>
</div> <!-- /just to enable infinite scroll -->

<script>
  $('.carouse2[data-type="multi"] .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));

  for (var i=0;i<4;i++) {
    next=next.next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    
    next.children(':first-child').clone().appendTo($(this));
  }
});
</script>


